<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.opensilk.video.telly">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>

    <application
        android:name=".VideoApp"
        android:allowBackup="true"
        android:banner="@drawable/tv_banner"
        android:icon="@drawable/tv_banner"
        android:label="@string/app_name"
        android:logo="@drawable/tv_banner"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/LandingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FolderActivity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/FoldersTheme"/>
        <activity
            android:name=".DetailActivity"
            android:theme="@style/DetailsTheme"/>
        <activity
            android:name=".PlaybackActivity"
            android:theme="@style/PlaybackTheme"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"/>

        <service android:name="org.opensilk.video.UpnpHolderService"/>

        <provider
            android:name="org.opensilk.video.DatabaseProvider"
            android:authorities="@string/videos_authority"
            android:exported="false"/>
    </application>

</manifest>