<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.opensilk.video.phone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".VideoApp">

        <activity android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".FolderActivity"
                  android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".DetailActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".PlaybackActivity"
            android:theme="@style/AppTheme.Playback"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" />
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:mimeType="video/*"/>
            </intent-filter>

        </activity>

        <service android:name="org.opensilk.video.ObserverHolderService"/>
        <service android:name="org.opensilk.video.AppJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE"/>

        <provider
            android:name="org.opensilk.video.VideoAppProvider"
            android:authorities="@string/videos_authority"
            android:exported="false"/>
        <provider
            android:name="org.opensilk.media.database.MediaProvider"
            android:authorities="@string/media_authority"
            android:exported="false"/>
    </application>

</manifest>