*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

#Temporary
app-orpheus/src/androidTest/assets
app-orpheus/src/test/resources
media-playback/src/androidTest/assets
app-theia-telly/src/mock/assets
